# Kalshi API Configuration
KALSHI_API_KEY=8af653da-be34-4382-9faa-96c5adefb3a7
KALSHI_PRIVATE_KEY=
MIIEpAIBAAKCAQEA0EtCGno6sqdzSfJnSo/Sxe/is2jNyZbrybR7jOB1JmmUdHHA
0V+GOgOIQr3XcFZ/jsUzDUiZxyoZUCLdvb+/D2sANBvt+VN+fOj/oavBw4MC2Osz
GMXbyx1Qu6StZJxlWaMpVqZvLPBYXK+KQX0fwzZjReN6TT+g3oeKJn8g1sYRoFdq
2gHBZ/FmUGgUF1zCgm7tF69avrjvgJ0iqQsIjBbjPWnOvquOXzIcFYrwbPmoyJ6l
peIgAIu3RfKmooNHlkZuPRZFcy4c+KJTzpqf4BNYiQYiZQxVQEeWfh41h2W24mjA
//tRtwAWq+OhxuOJ87YaMDIj1KbKK51cez4ZhQIDAQABAoIBACSH7nICWeUXZSrk
7qSvEMJSTio1CVJ/u57GnpyYiTNRdQ3vHWgbHslx8SXzcaNsKDb78vYzc3TwtzvM
waMTzAiCNajt9RCzSg3SN3M9UmBdy9QLfAyuNtwqqgwe16I7o7LS4N8nlXwGMxke
WFsf/MAZ+9M4EC0YKbidgOc7iKDiDxVIQqpJrdXmp8W58s1CzR+PeOHO1FpnboOS
k4rRMrFEQfaQ0euwhpgGi6rutfiETNHIWq62BbiiQ6FKabIoIpa/T9qmSPj3gcAI
LD2oOXnshxk2dXds8jY+AnY+ECE4gSMzTxXWGkFDcptSeDQzJDbBYKOroETuT+9F
5kP6R8ECgYEA660WQP3QMEQBOIC28P5waNqoUmKl6x5gdFiSNoFgygD5bjAMDp4K
EfiOdQxlpNvxBspy9YRQ0WDy2wUd/6pkJscj3FgkJ8kEeSlZJCbE/Z1q/suxCnsk
roSNWIsngu/uIYm5gBU/5qukdvnBRqNN+C3bPj3qVjAYCHGrAzrrUe0CgYEA4kGr
F7fWVgneUt09ZcEW4dJCKYjPY+2XZxa8JGJb2yc5XAtMuTYuPeRdRzspSLuc2UV2
BfIRJD8c7iuU7lFN7abeW68WeRZw2fEvs0owyssCfJ/DrvfiAI3XW9VI9sLtzDt/
Z+muXUtJXP6u3Ib6iy65ECE5mEP4nvIqh7bj0vkCgYA+S3slZLGiAGe+Mq+olejK
nnl9hVvMATSHrF3BkIMwAf/sc0DMoFOTGns1TziS0hwsqlimsvnVzmWDJSAf0z8z
zNGazaWI6qaHDDnmx2SskO6WOOssFQ7GHn1qGSYxgxATx17ED1nbtCT92diPvly+
rAhWtHD7pSzFFp6YdPt8pQKBgQCa/j9VdSNIN2RswZBQx3CEbAPU7hqcKuN/xExI
ZHTmcT1S946shhgxX+IibL3ATH2LPZE3S3dArFeGNKbGhz3qIljK1+t+MchHFHkH
yjgYg++FLfDgSIEyvfgcucRM/oXmVY/WwHcpA+0S3oktGu5BMFWoXgpVa6LCR8So
ybnSCQKBgQDqDk8f2YYfa+WEpcyT5Qn4Y5Ifq+d4t66a0FO4KEXSGhZPKsWlL4Qo
cFxyDAEW2CdBJBDLag4tSurbrXL0upY197N9x1/gkZY4dNzEzg/fdugfZNqDY8Rj
/z/hIqkZrR82ldA+zvjSJimIhLpGZicsZANBp6qCOMmTmEupK8TvmA==

KALSHI_ENVIRONMENT=demo
# Use 'demo' for testing, 'prod' for production

# Server Configuration
PORT=3001
CORS_ORIGIN=http://localhost:5173

# Database
DB_PATH=./data/orderflow.db
